.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{
  text-align: center;
}
.chcard{
  padding: 2%;
  margin: 2%;
}

.head{

  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.btnc{
  margin: 0.5% !important;
}
.inpc{
  margin: 2% !important;
}

.secondSidebtn{
  display: flex;
  justify-content: flex-end;
}

.sbtn{
  width: 30%;
  margin-top: 3%;

}
body{
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;

}
.bbtn{
  margin-right: 1%;
}
.pbox{
  border: 1px sikud gray !important;
  height: 100%;
  width: 100%;
}
.uploadbox{
  border:1px solid gray;
  height: 85%;
  margin: 2%;

  /* style={{border:'1px solid gray', height:'85%', marginTop:'2%', marginBottom:'5%'}} */
}